In [1]:
#Pandas library essentially has 3 libraries 
#1. Series
#2. DataFrame
#3. Panel

In [2]:
#Series is one dimensional array, which can hold any type of data, suc as integer,float,string,python objects

In [5]:
import pandas as pd
import numpy as np

In [7]:
pd.Series(np.random.randn(5))
#random.randn is part of numpy package and it generates random numbers
#Series function creates a pandas series that consists of an index, which is the first column, second column consists of random number.

0    1.387479
1    0.246946
2    1.233990
3    0.530862
4   -0.690114
dtype: float64

In [10]:
pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

a    0.546865
b   -0.492182
c    0.222571
d    1.052527
e    0.437583
dtype: float64

In [12]:
#A series can be dervied from python dict
d= {'A':10,'B':20,'C':30}
pd.Series(d)

A    10
B    20
C    30
dtype: int64

In [13]:
#DataFrame
#DataFrame is a 2D dimensional data structure with columns can be of different data types
#A DataFrame can be formed from following data structures
#1. A numpy array 2. List 3. Dicts 4. Series

In [18]:
d= {'c1':pd.Series(['A','B','C','D']), 'c2':pd.Series([1,2,3])}
d

{'c1': 0    A
 1    B
 2    C
 3    D
 dtype: object, 'c2': 0    1
 1    2
 2    3
 dtype: int64}

In [19]:
df=pd.DataFrame(d)
df

  c1   c2
0  A  1.0
1  B  2.0
2  C  3.0
3  D  NaN

In [25]:
d= {'c1':['A','B','C','D'], 'c2':[1,2,3,4]}       #here lists must be of same length
d

{'c1': ['A', 'B', 'C', 'D'], 'c2': [1, 2, 3, 4]}

In [26]:
df=pd.DataFrame(d)   
df

  c1  c2
0  A   1
1  B   2
2  C   3
3  D   4

In [27]:
#Panel
#Panel is a data structure that handles 3D data.

In [32]:
d={'C1': pd.DataFrame(np.random.randn(4,3)),'C2': pd.DataFrame(np.random.randn(4,2))}
d

{'C1':           0         1         2
 0  0.100381  1.093632  0.200962
 1  0.081073  0.442674 -0.411936
 2 -0.010798 -0.584837 -0.227469
 3 -1.721926 -0.480739 -1.122957, 'C2':           0         1
 0 -0.328490  0.295509
 1  1.465863  1.303536
 2  1.246345 -1.089957
 3  0.115417  0.182424}

In [34]:
df=pd.Panel(d)
df

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: C1 to C2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2